
bdoy, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Ariel, Arial, Ubuntu, sans-serif;
    font-size: small;
}

:root {
    --spacing: 5px;
    --margin: 7px;
    --border: 1px solid lightgrey;
    --bg-info: #CDDEFF;
    --text-info: #433F9D;
    --bg-success: #D0F3DA;
    --text-success: #40895A;
    --bg-warning: #FDFBC9;
    --text-warning: #B0A151;
    --bg-error: #F9D2D7;
    --text-error: #913149;
    --edges: 5px;


}

.message{
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
    padding-left: var(--spacing);
    margin: var(--margin);
    border: var(--border);
    border-radius: var(--edges);

}

.message-info{
   background-color: var(--bg-info);
   color: var(--text-info);

}

.message-success{
    background-color: var(--bg-success);
    color: var(--text-success);

}

.message-warning{
    background-color: var(--bg-warning);
    color: var(--text-warning);

}

.message-error{
    background-color: var(--bg-error);
    color: var(--text-error);

}