.fancy-header{
    color: purple;
    text-decoration: underline;
    text-align: center;
}

.sub-header{
    color: cadetblue;
    text-decoration: underline;
}

body {
    background-color: black;
    color: white;
    background-image: url("corporate-lady.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


