.fancy-header{
    color: purple;
    text-decoration: underline;
    text-align: center;
}

.sub-header{
    color: cadetblue;
    text-decoration: underline;
}

body {
    background-color: black;
    color: white;
}