.header {
    background-image: url("veridianhead.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

.header-title {
    position: relative;
    top: 75px;
    left: 375px;
    font-size: x-large;
    font-family: 'Satisfy', cursive;
}

.header-message{
    position:relative;
    top: 75px;
}

.fancy-header{
    color: purple;
    text-decoration: underline;
    text-align: center;
}

.sub-header{
    color: cadetblue;
    text-decoration: underline;
}

body {
    background-color: black;
    color: white;
}

ul {
    list-style-type: square;
}

