html, body {
    height:100%;
    margin: 0;

}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #212529;
}
h1 {
    text-align: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
}

.icons {
    margin: 0 20px;
    color: #495057;
}